/* Section B */

.about-hero {
    background:url('../images/4.png') !important;
    background-repeat:no-repeat !important;
    background-size:cover !important;
    background-position:Center !important;
    height:40vh !important;
}
 
.section-b {
    width:100%;
    height:40vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.section-b .wrapper {
    width:70%;
    height:30%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.section-b .wrapper .image {
    width:20%;
}

.section-b .wrapper .image img {
    width:100%;
}

.section-b .text-content {
    width:400px;
    font-family:'Montserrat';
    padding-left:50px;
    text-align:center;
}

.text-title {
    font-size:32px;
    font-weight:400;
    padding-bottom:30px;
    font-family:'Montserrat';
}

.section-b .text-content .text-subtitle {
    font-size:14px;
    color:#6a6a6a;
    font-weight:200;
    padding-bottom:8px;
}

.section-b .text-content .text {
    font-size:14px;
    padding-bottom:20px;
    color:#000;
}

.section-b .text-content button {
    background:#333;
    color:#fff;
    border-radius:10px;
    padding:10px;
    transition:all 0.5s;
}

.section-b .text-content button:hover {
    background:#Fff;
    color:#333;
    border:1px solid #333;
    cursor:pointer;
}

/* Section C */

.section-c  {
    background:url("../images/5.png");
    width:100%;
    height:40vh;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    display:flex;
    align-items: center;
    justify-content:center;
}

.section-c .title-wrap {
    font-weight:400;
    text-align:center;
    color:#fff;
    font-size:xx-large;
    font-family:'Montserrat';
}

.section-c .title-wrap .section-title {
    font-weight:300;
}

/* Section D */

.section-d {
    width:100%;
    height:50vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.section-d .d-wrapper {
    display:flex;
    width:80%;
    height:80%;
}

.d-wrapper .left-content {
    width: 60%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.d-wrapper .left-content p {
    width:80%;
    font-family:'Montserrat';
    font-size:14px;
    text-align:center;
}
/* 
.d-wrapper .text-title {
    font-size:32px;
    font-weight:400;
    padding-bottom:30px;
    font-family:'Montserrat';
} */

.d-wrapper .right-content {
    width:40%;
    background:url('../images/6.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

/* Section E */

.section-e {
    width:100%;
    height:100px;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
}

.section-e .e-text {
    text-align:center;
    width:70%;
    font-family: 'Montserrat';
    font-size:14px;
}

.section-e .text-title {
    padding-bottom:20px;
}


/* FOOTER */

footer {
    width:100vw;
    padding-top:80px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

footer img {
    max-width:100%;
    width:80%;
}

.footer-text {
    padding-bottom:50px;
    text-align:Center;
    font-family:'Montserrat';
    font-size:14px;
    color:#7a7a7a
}

.bottom-footer {
    width:100%;
    background:#333;
    height:50px;
    font-family:'Montserrat';
    color:#fff;
    text-align:Center;
    display:flex;
    justify-content: center;
    align-items:center;
}

.bottom-footer span {
    font-weight:600;
}

@media (max-width:800px) {
    .section-b {
        height:80vh;
    }

    .section-b .wrapper {
        flex-direction:column;
        width:90%;
        height:80%;
        display:flex;
        flex-direction:column;
        gap:30px;
    }

    .section-b .wrapper .image {
        display:flex;
        width:100%;
        height:auto;
        align-items:center;
        justify-content: center;
    }
    .section-b .wrapper .image img {
        width:70%;
    }

    .section-b .wrapper .text-content {
        padding-top:50px;
        width:100%;
        padding:0;
    }

    .section-d {
        width:100%;
        height:auto;
        padding-top:30px;
    }

    .d-wrapper {
        flex-direction:column;
        justify-content: center;
        align-items:center;
    }

    .d-wrapper .left-content {
        padding-bottom:30px;
        width:100%;
    }

    .d-wrapper .left-content .text-title {
        width:100% !important;
        text-align:Center;
    }

    .d-wrapper .right-content {
        height:500px;
        width:100%;
        padding-top:30px;
    }
}
