* {
    margin:0;
    padding:0;
    font-family:'Montserrat';
}

/* Styling for header */

/* Font sizes {


}*/

nav i {
    font-size:24px;
}

nav {
    background-color: #fff;
    box-shadow:3px 3px 5px rgba(0,0,0,0.1);
    height:80px;
    display:flex;
}

nav ul {
    width:100%;
    list-style:none;
    display:flex;
    justify-content: flex-end;
    align-items:center;
}

nav ul li a img {
    width:70px;
    height:100%;
}

nav a {
    height:100%;
    padding: 0 10px;
    display:flex;
    align-items:center;
    text-decoration:none;
    color:black;
}


nav li:first-child {
    margin-right:auto;
}

nav ul:last-child {
    padding-right:40px;
}

.sidebar {
    position:Fixed;
    top:0;
    right:0;
    height:100vh;
    width:250px;
    z-index:999;
    background-color: rgba(255, 255, 255, 0.408);
    backdrop-filter: blur(10px);
    box-shadow:-10px 0 10px rgba(0,0,0,0.1);
    display:none;
    flex-direction:column;
    align-items:flex-start;
    justify-content: flex-start;
}

.sidebar li {
    height:30px;
    padding:5px 0;
    display:flex;
}

.sidebar li:first-child {
    margin-bottom:30px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: flex-end;
}

.menuButton {
    display:none;
}

@media (max-width:800px) {
    .hideOnMobile {display:none}

    .menuButton {display:block}
}

@media (max-width:400px) {
    .sidebar {
        width:100%;
    }
}


.section-a {
    width:100%;
    height:70vh;
    background:url('../images/4.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    display:flex;
    align-items:center;
    justify-content: center;
}

.section-a .title-wrap {
    width:auto;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.section-title {
    font-family:'Montserrat';
    color:#fff;
    font-size:44px;
    padding-bottom:10px;
}

.section-subtitle {
    font-family:'Montserrat';
    color:#fff;
    text-align:center;
    font-size:18px;
}

.title-wrap button {
    padding:13px 20px;
    margin-top:20px;
    background:none;
    border:1px solid #fff;
    border-radius:10px;
    color:#fff;
    font-family:'Montserrat';
    transition:all;
    transition-duration:0.3s;
}

.title-wrap button:hover{ 
    background:#fff;
    color:#333;
    cursor:pointer;
}

/* Section B */
 
.section-b {
    width:100%;
    height:40vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.section-b .wrapper {
    width:70%;
    height:30%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.section-b .wrapper .image {
    width:20%;
}

.section-b .wrapper .image img {
    width:100%;
}

.section-b .text-content {
    width:400px;
    font-family:'Montserrat';
    padding-left:50px;
    text-align:center;
}

.text-title {
    font-size:32px;
    font-weight:400;
    padding-bottom:30px;
    font-family:'Montserrat';
}

.section-b .text-content .text-subtitle {
    font-size:14px;
    color:#6a6a6a;
    font-weight:200;
    padding-bottom:8px;
}

.section-b .text-content .text {
    font-size:14px;
    padding-bottom:20px;
    color:#000;
}

.section-b .text-content button {
    background:#333;
    color:#fff;
    border-radius:10px;
    padding:10px;
    transition:all 0.5s;
}

.section-b .text-content button:hover {
    background:#Fff;
    color:#333;
    border:1px solid #333;
    cursor:pointer;
}

/* Section C */

.section-c  {
    background:url("../images/5.jpg");
    width:100%;
    height:40vh;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    display:flex;
    align-items: center;
    justify-content:center;
}

.section-c .title-wrap {
    font-weight:400;
    text-align:center;
}

.section-c .title-wrap .section-title {
    font-weight:300;
}

/* Section D */

.section-d {
    width:100%;
    height:50vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.section-d .d-wrapper {
    display:flex;
    width:80%;
    height:80%;
}

.d-wrapper .left-content {
    width: 60%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.d-wrapper .left-content p {
    width:80%;
    font-family:'Montserrat';
    font-size:14px;
    text-align:center;
}
/* 
.d-wrapper .text-title {
    font-size:32px;
    font-weight:400;
    padding-bottom:30px;
    font-family:'Montserrat';
} */

.d-wrapper .right-content {
    width:40%;
    background:url('../images/6.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

/* Section E */

.section-e {
    width:100%;
    height:100px;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
}

.section-e .e-text {
    text-align:center;
    width:70%;
    font-family: 'Montserrat';
    font-size:14px;
}

.section-e .text-title {
    padding-bottom:20px;
}


/* FOOTER */

footer {
    width:100vw;
    padding-top:80px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

footer img {
    max-width:100%;
    width:80%;
}

.footer-text {
    padding-bottom:50px;
    text-align:Center;
    font-family:'Montserrat';
    font-size:14px;
    color:#7a7a7a
}

.bottom-footer {
    width:100%;
    background:#333;
    height:50px;
    font-family:'Montserrat';
    color:#fff;
    text-align:Center;
    display:flex;
    justify-content: center;
    align-items:center;
}

.bottom-footer span {
    font-weight:600;
}