* {
    margin:0;
    padding:0;
    font-family:'Montserrat';
}

/* Styling for header */

/* Font sizes {


}*/

header {
    width:100%;
    height:90px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

header .logo {
    width:70px;
    margin-left:30px;
}

.logo img {
    width:100%;
}

header .menu {
    width:390px;
    margin-right:60px;
}

header .menu nav{
    display:flex;
    justify-content:space-between;
}



.dropdown {
    display:none;
    position:absolute;
    padding:10px;
    max-width:170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background:#fff;
}

.dropdown li {
    padding:10px 5px;
}

.dropdown-toggle:hover .dropdown{
    display:block;

}


nav ul {
    display:flex;
    width:100%;
    justify-content:space-around;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color:#333;
    font-family:'Montserrat';
}


.section-a {
    width:100%;
    height:40vh;
    background:url('../images/7.png');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    display:flex;
    align-items:center;
    justify-content: center;
}

.section-a .title-wrap {
    width:auto;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.section-title {
    font-family:'Montserrat';
    color:#fff;
    font-size:44px;
    padding-bottom:10px;
}

.section-subtitle {
    font-family:'Montserrat';
    color:#fff;
    text-align:center;
    font-size:18px;
}

/* Section B */

.section-b {
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    padding-top:30px;
    flex-direction:column;
    padding-bottom:40px;
    height:auto;
}

.b-wrapper {
    width:80%;
    display:flex;
}

.section-b .titles {
    display:flex;
    width:80%;
    align-items:center;
    justify-content:space-around;
    padding-bottom:20px;
}

.titles .text-title {
    font-weight:400;

}

.contacts {
    display:flex;
    width:100%;
    /* align-items:center; */
    justify-content:center;
}

.contacts .information {
    height:fit-content;
    margin-top:20px;
}

.information i {
    font-size:18px;
    padding-right:5px;
}

.information p {
    margin-top:20px;
}

/* Section C */

.section-c {
    width:100%;
    height:auto;
    padding-bottom:30px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

.section-c .text-title {
    font-weight:400;
    font-size:38px;
    padding-bottom:10px;
}

.section-c .subtitle {
    font-weight:400;
}

.form-container {
    width:80%;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:30px;
}

.form-container form {
    width:40%;
    display:flex;
    flex-direction:column;
}

.form-container form label {
    margin:20px 0 5px 0;
}

.form-container form button {
    margin-top:20px;
}

.form-container form input {
    width:100%;
    height:25px;
    padding-left:3px;
}

.form-container form textarea {
    resize:none;
    padding-left:3px;
    padding-top:3px;
    height:150px !important;
    max-width:100%;
}

.form-container form button {
    background:#333;
    color:#fff;
    padding:15px 0;
    cursor:pointer;
    transition:all 0.5s;
}

.form-container form button:hover {
    background:#fff;
    color:#333;
    border:1px solid #333;
}


/* FOOTER */

footer {
    width:100vw;
    padding-top:80px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

footer img {
    max-width:100%;
    width:80%;
}

.footer-text {
    padding-bottom:50px;
    text-align:Center;
    font-family:'Montserrat';
    font-size:14px;
    color:#7a7a7a
}

.bottom-footer {
    width:100%;
    background:#333;
    height:50px;
    font-family:'Montserrat';
    color:#fff;
    text-align:Center;
    display:flex;
    justify-content: center;
    align-items:center;
}

.bottom-footer span {
    font-weight:600;
}