/* Section B */

.contact-hero {
    background:url('../images/7.png') !important;
    background-repeat:no-repeat !important;
    background-size:cover !important;
    background-position:Center !important;
    height:40vh !important;
}

.section-b {
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    padding-top:30px;
    flex-direction:column;
    padding-bottom:40px;
    height:auto;
}

.b-wrapper {
    width:80%;
    display:flex;
}

.b-wrapper .text-title {
    text-align:center;
    margin:0;
    padding:10px 0;
    font-weight:500;
}

.contacts {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    justify-content: flex-start;
    /* align-items:center; */
}

.contacts i {
    font-size:18px;
    padding-right:5px;
}

.contacts p {
    margin-top:20px;
}

/* Section C */

.section-c {
    width:100%;
    height:auto;
    padding-bottom:30px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

.section-c .text-title {
    font-weight:400;
    font-size:38px;
    padding-bottom:10px;
}

.section-c .subtitle {
    font-weight:400;
}

.form-container {
    width:80%;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:30px;
}

.form-container form {
    width:40%;
    display:flex;
    flex-direction:column;
}

.form-container form label {
    margin:20px 0 5px 0;
}

.form-container form button {
    margin-top:20px;
}

.form-container form input {
    width:100%;
    height:25px;
    padding-left:3px;
}

.form-container form textarea {
    resize:none;
    padding-left:3px;
    padding-top:3px;
    height:150px !important;
    max-width:100%;
}

.form-container form button {
    background:#333;
    color:#fff;
    padding:15px 0;
    cursor:pointer;
    transition:all 0.5s;
}

.form-container form button:hover {
    background:#fff;
    color:#333;
    border:1px solid #333;
}


/* FOOTER */

footer {
    width:100vw;
    padding-top:80px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

footer img {
    max-width:100%;
    width:80%;
}

.footer-text {
    padding-bottom:50px;
    text-align:Center;
    font-family:'Montserrat';
    font-size:14px;
    color:#7a7a7a
}

.bottom-footer {
    width:100%;
    background:#333;
    height:50px;
    font-family:'Montserrat';
    color:#fff;
    text-align:Center;
    display:flex;
    justify-content: center;
    align-items:center;
}

.bottom-footer span {
    font-weight:600;
}

@media (max-width:800px) {

    .section-b .titles {display:none;}

    .section-b .b-wrapper {
        display:flex;
        flex-direction:column;
    }


    .map iframe {
        width:100%;
    }
    .section-c .text-title {
        font-size:28px;
    }

    .section-c .subtitle {
        font-size:14px;
        text-align:Center;
    }

    .section-c form {width:100%;}

}
