/* Section B */

.section-b {
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    padding-top:50px;
}

.section-b .wrapper {
    display:flex;
    width:fit-content;
    height:350px;
}

.section-b .wrapper .picture img {
    width:100%;
    height:100%;
}

.section-b .wrapper .equipment {
    color:#333;
    font-family:'Montserrat';
    font-family:20px;
    display:flex;
    align-items:center;
    justify-content: center;
    padding-right:30px;
}

.section-c {
    width:100%;
    padding-top:50px;
}

.images-container {
 display:flex;
    align-items:Center;
    justify-content: center;
    gap:30px;
}



/* FOOTER */

footer {
    width:100vw;
    padding-top:80px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

footer img {
    max-width:100%;
    width:80%;
}

.footer-text {
    padding-bottom:50px;
    text-align:Center;
    font-family:'Montserrat';
    font-size:14px;
    color:#7a7a7a
}

.bottom-footer {
    width:100%;
    background:#333;
    height:50px;
    font-family:'Montserrat';
    color:#fff;
    text-align:Center;
    display:flex;
    justify-content: center;
    align-items:center;
}

.bottom-footer span {
    font-weight:600;
}

@media (max-width:800px) {
   
    .section-b {
        width:100%;
        height:70vh;
        padding-top:0 !important;
    }

    .section-b .wrapper {
        flex-direction:column;
        width:80%;
        height:auto;
    }

    .section-b .wrapper .equipment {
        display:block;
        width:100%;
        padding-bottom:30px;
        
    }

    .section-b .wrapper .equipment ul {
        width:100% !important;
    }

      .bottom-footer {
            font-size:14px;
        }

        footer img {
            width:90%;
        }

        footer .footer-text {
            font-size:14px;
            width:80%;
        }

        .section-c {
            width:100%;
        }

        .section-c .images-container img {
            width:90%;
        }

        .section-c .images-container {
            flex-direction:column;
        }

}

@media (max-width:400px) {
    .sidebar {
        width:100%;
    }
}
