* {
    margin:0;
    padding:0;
    font-family:'Montserrat';
}

/* Styling for header */

/* Font sizes {


}*/


nav i {
    font-size:24px;
}

nav {
    background-color: #fff;
    box-shadow:3px 3px 5px rgba(0,0,0,0.1);
    height:80px;
    display:flex;
}

nav ul {
    width:100%;
    list-style:none;
    display:flex;
    justify-content: flex-end;
    align-items:center;
}

nav ul li a img {
    width:70px;
    height:100%;
}

nav a {
    height:100%;
    padding: 0 10px;
    display:flex;
    align-items:center;
    text-decoration:none;
    color:black;
}


nav li:first-child {
    margin-right:auto;
}

nav ul:last-child {
    padding-right:40px;
}

.sidebar {
    position:Fixed;
    top:0;
    right:0;
    height:100vh;
    width:250px;
    z-index:999;
    background-color: rgba(255, 255, 255, 0.408);
    backdrop-filter: blur(10px);
    box-shadow:-10px 0 10px rgba(0,0,0,0.1);
    display:none;
    flex-direction:column;
    align-items:flex-start;
    justify-content: flex-start;
}

.sidebar li {
    height:30px;
    padding:5px 0;
    display:flex;
}

.sidebar li:first-child {
    margin-bottom:30px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: flex-end;
}

.menuButton {
    display:none;
}


.section-a {
    width:100%;
    height:40vh;
    background:url('../images/8.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    display:flex;
    align-items:center;
    justify-content: center;
}

.section-a .title-wrap {
    width:auto;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.section-title {
    font-family:'Montserrat';
    color:#fff;
    font-size:44px;
    padding-bottom:10px;
}

.section-subtitle {
    font-family:'Montserrat';
    color:#fff;
    text-align:center;
    font-size:18px;
}

/* Section B */

.section-b {
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    padding-top:50px;
}

.section-b .wrapper {
    display:flex;
    width:fit-content;
    height:350px;
}

.section-b .wrapper .picture img {
    width:100%;
    height:100%;
}

.section-b .wrapper .equipment {
    color:#333;
    font-family:'Montserrat';
    font-family:20px;
    display:flex;
    align-items:center;
    justify-content: center;
    padding-right:30px;
}



/* FOOTER */

footer {
    width:100vw;
    padding-top:80px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

footer img {
    max-width:100%;
    width:80%;
}

.footer-text {
    padding-bottom:50px;
    text-align:Center;
    font-family:'Montserrat';
    font-size:14px;
    color:#7a7a7a
}

.bottom-footer {
    width:100%;
    background:#333;
    height:50px;
    font-family:'Montserrat';
    color:#fff;
    text-align:Center;
    display:flex;
    justify-content: center;
    align-items:center;
}

.bottom-footer span {
    font-weight:600;
}

@media (max-width:800px) {
    .hideOnMobile {display:none}

    .menuButton {display:block}

    .section-a .title-wrap {
        width:100%;
    }

    .title-wrap .section-title {
        font-size:28px;
    }

    .title-wrap .section-subtitle {
        font-size:14px;
    }

    .section-b {
        width:100%;
        height:70vh;
        padding-top:0 !important;
    }

    .section-b .wrapper {
        flex-direction:column;
        width:80%;
        height:auto;
    }

    .section-b .wrapper .equipment {
        display:block;
        width:100%;
        padding-bottom:30px;
        
    }

    .section-b .wrapper .equipment ul {
        width:100% !important;
    }

      .bottom-footer {
            font-size:14px;
        }

        footer img {
            width:90%;
        }

        footer .footer-text {
            font-size:14px;
            width:80%;
        }

}

@media (max-width:400px) {
    .sidebar {
        width:100%;
    }
}
