* {
    margin:0;
    padding:0;
}

/* Styling for header */

/* Font sizes {


}*/

header {
    width:100%;
    height:90px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

header .logo {
    width:70px;
    margin-left:30px;
}

.logo img {
    width:100%;
}

header .menu {
    width:390px;
    margin-right:60px;
}

header .menu nav{
    display:flex;
    justify-content:space-between;
}



.dropdown {
    display:none;
    position:absolute;
    padding:10px;
    max-width:170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background:#fff;
}

.dropdown li {
    padding:10px 5px;
}

.dropdown-toggle:hover .dropdown{
    display:block;

}


nav ul {
    display:flex;
    width:100%;
    justify-content:space-around;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color:#333;
    font-family:'Montserrat';
}

.section-a {
    width:100%;
    height:40vh;
    background:url('../images/8.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    display:flex;
    align-items:center;
    justify-content: center;
}

.section-a .title-wrap {
    width:auto;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.section-title {
    font-family:'Montserrat';
    color:#fff;
    font-size:44px;
    padding-bottom:10px;
}

.section-subtitle {
    font-family:'Montserrat';
    color:#fff;
    text-align:center;
    font-size:18px;
}

/* Section B */

.section-b {
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    padding-top:50px;
}

.section-b .wrapper {
    display:flex;
    width:fit-content;
    height:350px;
}

.section-b .wrapper .picture img {
    width:100%;
    height:100%;
}

.section-b .wrapper .equipment {
    color:#333;
    font-family:'Montserrat';
    font-family:20px;
    display:flex;
    align-items:center;
    justify-content: center;
    padding-right:30px;
}



/* FOOTER */

footer {
    width:100vw;
    padding-top:80px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

footer img {
    max-width:100%;
    width:80%;
}

.footer-text {
    padding-bottom:50px;
    text-align:Center;
    font-family:'Montserrat';
    font-size:14px;
    color:#7a7a7a
}

.bottom-footer {
    width:100%;
    background:#333;
    height:50px;
    font-family:'Montserrat';
    color:#fff;
    text-align:Center;
    display:flex;
    justify-content: center;
    align-items:center;
}

.bottom-footer span {
    font-weight:600;
}