* {
    margin:0;
    padding:0;
}

li {
    list-style:none;
}

a {
    text-decoration:none;
    color:#333;
    font-family:'Montserrat';
}

/* Styling for header and menu elements */

nav i {
    font-size:24px;
}

nav {
    background-color: #fff;
    box-shadow:3px 3px 5px rgba(0,0,0,0.1);
    height:80px;
    display:flex;
}

nav ul {
    width:100%;
    list-style:none;
    display:flex;
    justify-content: flex-end;
    align-items:center;
}

nav ul li a img {
    width:70px;
    height:100%;
}

nav a {
    height:100%;
    padding: 0 10px;
    display:flex;
    align-items:center;
    text-decoration:none;
    color:black;
}


nav li:first-child {
    margin-right:auto;
}

nav ul:last-child {
    padding-right:40px;
}

.sidebar {
    position:Fixed;
    top:0;
    right:0;
    height:100vh;
    width:250px;
    z-index:999;
    background-color: rgba(255, 255, 255, 0.408);
    backdrop-filter: blur(10px);
    box-shadow:-10px 0 10px rgba(0,0,0,0.1);
    display:none;
    flex-direction:column;
    align-items:flex-start;
    justify-content: flex-start;
}

.sidebar li {
    height:30px;
    padding:5px 0;
    display:flex;
}

.sidebar li:first-child {
    margin-bottom:30px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: flex-end;
}

.sidebar a {
}

.menuButton {
    display:none;
}

/* Styling for Section A */

.section-a {
    width:100%;
    height:70vh;
    background:url('../images/1.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    display:flex;
    align-items:center;
    justify-content: center;
}

.section-a .title-wrap {
    width:auto;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.section-title {
    font-family:'Montserrat';
    color:#fff;
    font-size:44px;
    padding-bottom:10px;
    
    
}

.section-subtitle {
    font-family:'Montserrat';
    color:#fff;
    text-align:center;
    font-size:18px;
}

.title-wrap button {
    padding:13px 20px;
    margin-top:20px;
    background:none;
    border:1px solid #fff;
    border-radius:10px;
    color:#fff;
    font-family:'Montserrat';
    transition:all;
    transition-duration:0.3s;
    }

.title-wrap button:hover{ 
    background:#fff;
    color:#333;
    cursor:pointer;
}

/* Section B Styling */

.section-b {
    width:100% !important;
    height:60vh;
}

.section-b .wrapper {
    width:100%;
    height:100%;

    display:flex;
    justify-content:center;
    align-items:center;
}

.section-b .wrapper .image {
    width:45%;
    height:90%;
    background:url('../images/22.jpg') center;
    background-size:cover;
    background-repeat: no-repeat;

}

.section-b .text-content {
    width:400px;
    /* height:100% */
    font-family:'Montserrat';
    padding-left:50px;
}

.section-b .wrapper .text-content .text-title {
    font-size:32px;
    font-weight:400;
}

.section-b .text-content .text-subtitle {
    font-size:14px;
    color:#6a6a6a;
    font-weight:200;
    padding-bottom:8px;
}

.section-b .text-content .text {
    font-size:14px;
    padding-bottom:20px;
    color:#000;
}

.section-b .text-content button {
    background:#333;
    color:#fff;
    border-radius:10px;
    padding:10px;
    transition:all 0.5s;
}

.section-b .text-content button:hover {
    background:#Fff;
    color:#333;
    border:1px solid #333;
    cursor:pointer;
}

/* Section C */

.section-c {
    width:100%;
    height:250px;
}

.section-c .cards {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height:100%;
}

.section-c .cards .card {
    height:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    FONT-FAMILY:'Montserrat';
}

.cards .card h2 {
    font-weight:600;
}

.cards .card h3 {
    font-weight:400;
    padding-top:10px;
}

.cards .card i {
    font-size:64px;
    padding-bottom:10px;
}

/* SECTION D */

.section-d {
    display:flex;
    justify-content:center;
    width:100%;
    height:600px;

}

.section-d .wrapper {
    width:90%;
    display:flex;
    justify-content: center;
}

.section-d .image {
    width:35%;
    height:100%;
    background:url("../images/3.jpg");
    background-position:center; 
    background-size:cover;
    background-repeat: no-repeat;
}

.section-d .wrapper .text-content {
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-left:120px;
    /* align-items:center; */
    text-align:Center;
}

.section-d .wrapper .text-content h1 {
    font-family:'Montserrat';
    padding-bottom:50px;
    font-weight:500;
}

.section-d .text-content ul li {
    padding-bottom:30px;
    transition:all 0.5s;
}

.section-d .text-content ul li a {
    transition:all 0.5s;
    font-weight:500;
}


.section-d .text-content ul li a:hover {
    font-weight:300;
}

/* FOOTER */

footer {
    width:100vw;
    padding-top:80px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

footer img {
    max-width:100%;
    width:80%;
}

.footer-text {
    padding-bottom:50px;
    text-align:Center;
    font-family:'Montserrat';
    font-size:14px;
    color:#7a7a7a
}

.bottom-footer {
    width:100%;
    background:#333;
    height:50px;
    font-family:'Montserrat';
    color:#fff;
    text-align:Center;
    display:flex;
    justify-content: center;
    align-items:center;
}

.bottom-footer span {
    font-weight:600;
}

.topnav .icon {
  display: none;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}


/* Responsive Styling */


    @media (max-width:800px) {
        .hideOnMobile {display:none}
    
        .menuButton {display:block}

        .section-a .title-wrap{
            text-align:Center;
            width:100%;
        }

        .section-a .title-wrap .section-title {
            font-size:28px;
        }
         .section-a .title-wrap .section-subtitle {
            font-size:14px;
        }

        .section-b {
            padding-top:30px;
            padding-bottom:30px;
            display:Flex;
            align-items:Center;
            justify-content:center;
            height:75vh;
        }

        .section-b .wrapper {
            flex-direction:column;
            align-items:center;
            justify-content:center;
            width:80%;

        }

        .section-b .wrapper .image {
            width:100%;
            height:40%;
        }

        .section-b .wrapper .text-content {
            width:100%;
            display:flex;
            flex-direction:column;
            padding:0;
            padding-top:30px;
            text-align:Center;
            align-items:center;
            justify-content: center;
        }

        .section-b .wrapper .text-content button {
            width:50%;
        }

        .section-c {
            height:auto;
            padding:50px 0;
        }

        .section-c .cards {
            flex-direction:column;
            gap:30px;
        }

        .section-d .wrapper {
            flex-direction:column;
            justify-content: center;
            align-items:center;
        }

        .section-d .wrapper .image {
            width:100%;
        }

        .section-d .wrapper .text-content {
            padding:0;
            margin:0;
            padding-top:20px;
            display:flex;
            flex-direction: column;
        }

        .section-d ul {
            margin:0;
        
        }

        .bottom-footer {
            font-size:14px;
        }

        footer img {
            width:90%;
        }

        footer .footer-text {
            font-size:14px;
            width:80%;
        }
    }
    
    @media (max-width:400px) {
        .sidebar {
            width:100%;
        }
    }
