/* Section B Styling */

.section-b {
    width: 100% !important;
    height: 60vh;
}

.section-b .wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section-b .wrapper .image {
    width: 45%;
    height: 90%;
    background: url('../images/22.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;

}

.section-b .text-content {
    width: 400px;
    /* height:100% */
    font-family: 'Montserrat';
    padding-left: 50px;
}

.section-b .wrapper .text-content .text-title {
    font-size: 32px;
    font-weight: 400;
}

.section-b .text-content .text-subtitle {
    font-size: 14px;
    color: #6a6a6a;
    font-weight: 200;
    padding-bottom: 8px;
}

.section-b .text-content .text {
    font-size: 14px;
    padding-bottom: 20px;
    color: #000;
}

.section-b .text-content button {
    background: #333;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.5s;
}

.section-b .text-content button:hover {
    background: #Fff;
    color: #333;
    border: 1px solid #333;
    cursor: pointer;
}

/* Section C */

.section-c {
    width: 100%;
    height: 250px;
}

.section-c .cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.section-c .cards .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    FONT-FAMILY: 'Montserrat';
}

.cards .card h2 {
    font-weight: 600;
}

.cards .card h3 {
    font-weight: 400;
    padding-top: 10px;
}

.cards .card i {
    font-size: 64px;
    padding-bottom: 10px;
}


/* SECTION D */

.useful-links {
    background-image:url('../images/7.jpg') !important;
    height:30vh !important;
}


.section-d {
    padding-top:30px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap:100px;
}

.section-d .link-container {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap:10px;
}

.section-d .link-container a {
    transition:all 0.5s;
    text-decoration:underline;
}

.section-d .link-container a:hover {
    font-weight:300;
}
/*

.section-d .wrapper {
    width: 90%;
    display: flex;
    justify-content: center;
}

.section-d .image {
    width: 35%;
    height: 100%;
    background: url("../images/3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-d .wrapper .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 120px;
    text-align: Center;
}

.section-d .wrapper .text-content h1 {
    font-family: 'Montserrat';
    padding-bottom: 50px;
    font-weight: 500;
}

.section-d .text-content ul li {
    padding-bottom: 30px;
    transition: all 0.5s;
}

.section-d .text-content ul li a {
    transition: all 0.5s;
    font-weight: 500;
}


.section-d .text-content ul li a:hover {
    font-weight: 300;
} */

/* FOOTER */

footer {
    width: 100vw;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer img {
    max-width: 100%;
    width: 80%;
}

.footer-text {
    padding-bottom: 50px;
    text-align: Center;
    font-family: 'Montserrat';
    font-size: 14px;
    color: #7a7a7a
}

.bottom-footer {
    width: 100%;
    background: #333;
    height: 50px;
    font-family: 'Montserrat';
    color: #fff;
    text-align: Center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-footer span {
    font-weight: 600;
}

.topnav .icon {
    display: none;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}


/* Responsive Styling */


@media (max-width:800px) {

    .section-b {
        padding-top: 30px;
        padding-bottom: 30px;
        display: Flex;
        align-items: Center;
        justify-content: center;
        height: 75vh;
    }

    .section-b .wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;

    }

    .section-b .wrapper .image {
        width: 100%;
        height: 40%;
    }

    .section-b .wrapper .text-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        padding-top: 30px;
        text-align: Center;
        align-items: center;
        justify-content: center;
    }

    .section-b .wrapper .text-content button {
        width: 50%;
    }

    .section-c {
        height: auto;
        padding: 50px 0;
    }

    .section-c .cards {
        flex-direction: column;
        gap: 30px;
    }

    .section-d {
        width:100%;
        flex-direction:column;
        gap:20px;
    }

    .section-d .link-container {
        gap:20px;
    }
}